In [3]:
import os

import pandas as pd
from tqdm import tqdm

In [2]:
data = pd.read_csv('./data/eth_data.csv')

In [3]:
print(len(data) / 5)

77760.0

In [5]:
data.columns

Index(['t', 'o', 'h', 'l', 'c', 'v', 'qv'], dtype='object')

In [ ]:
cur_data = data[:80000]

In [ ]:
cur_data.to_csv('./data/min_eth_data.csv', index=False)

In [ ]:
text_data = data[80000:]
text_data.to_csv('./data/text_data.csv', index=False)

In [2]:
test_data = pd.read_csv("./data/window_data.csv")
test_data

,t,o,h,l,c,v,qv,c_pred,rsi,rsi_mean,macd,macd_signal,atr,high_slope,vol_price_sync,bollinger_band_pos,price_change,rsi_change,rsi_divergence
0,1758657660000,4155.44,4181.88,4140.24,4151.37,174377.619,7.257526e+08,4173.91,38.326716,44.952416,-16.702833,-17.083607,32.862857,-4.353333,0,0.097720,-21.19,-2.741814,-18.448186
1,1758661260000,4151.36,4174.74,4137.08,4173.91,100930.275,4.194459e+08,4181.31,46.745103,45.113680,-15.356545,-16.738194,32.787857,-5.831667,0,0.456868,-4.89,3.048278,-7.938278
2,1758664860000,4173.91,4189.49,4161.78,4181.31,87463.753,3.652598e+08,4179.70,49.227257,45.062832,-13.536444,-16.097844,33.674286,-2.163333,0,0.589006,-8.91,0.926967,-9.836967
3,1758668460000,4181.29,4187.60,4166.76,4179.70,59273.847,2.476335e+08,4162.25,48.688641,44.973893,-12.084611,-15.295198,33.686429,-3.060000,1,0.578378,32.60,12.556969,20.043031
4,1758672060000,4179.70,4183.43,4158.45,4162.25,65446.664,2.727736e+08,4172.13,43.111345,44.447628,-12.201441,-14.676446,32.071429,-1.446667,0,0.325052,6.80,3.752267,3.047733
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1758999660000,4000.00,4002.66,3984.89,3994.70,48663.475,1.942788e+08,4000.66,46.345336,52.576692,4.252351,7.448232,20.819286,-5.993333,1,0.281150,-23.71,-9.055676,-14.654324
96,1759003260000,3994.70,4001.69,3989.59,4000.66,35561.071,1.420857e+08,4005.20,48.881423,51.999866,3.457003,6.649986,20.977143,-4.820000,0,0.406792,-12.39,-4.571866,-7.818134
97,1759006860000,4000.66,4008.90,3998.62,4005.20,31647.722,1.266785e+08,4013.32,50.813398,51.596532,3.156637,5.951316,21.143571,-2.673333,0,0.451432,-12.00,-3.982229,-8.017771
98,1759010460000,4005.19,4019.75,4004.71,4013.32,29506.748,1.183810e+08,4021.00,54.191390,51.439776,3.533084,5.467670,21.034286,-0.123333,0,0.645759,7.34,3.691125,3.648875
99,1759014060000,4013.31,4031.99,4012.50,4021.00,77372.080,3.113193e+08,4017.01,57.222626,51.761506,4.400407,5.254217,20.641429,2.286667,1,0.833334,20.99,8.920185,12.069815

# 转换为5分钟数据

In [3]:
df_5m = data.copy()
df_5m['t'] = (df_5m['t'] // 300000) * 300000
df_5m = df_5m.groupby('t').agg({
    'o': 'first',
    'h': 'max',
    'l': 'min',
    'c': 'last',
    'v': 'sum',
    'qv': 'sum'
}).reset_index()
df_5m['t'] = df_5m['t'] + 60000 + 5 * 60000

In [4]:
df_5m

,t,o,h,l,c,v,qv
0,1735689960000,3336.58,3341.87,3334.76,3339.41,4998.605,1.668982e+07
1,1735690260000,3339.41,3342.96,3338.56,3341.72,3133.762,1.047066e+07
2,1735690560000,3341.72,3348.47,3341.00,3347.40,3717.540,1.243433e+07
3,1735690860000,3347.41,3352.53,3346.79,3350.27,7330.509,2.455864e+07
4,1735691160000,3350.27,3353.00,3346.43,3348.58,4127.764,1.382677e+07
...,...,...,...,...,...,...,...
77755,1759016460000,4016.11,4018.76,4015.51,4016.49,2435.282,9.783333e+06
77756,1759016760000,4016.48,4016.50,4011.88,4016.25,4027.680,1.616810e+07
77757,1759017060000,4016.24,4016.55,4014.60,4014.75,2365.164,9.497683e+06
77758,1759017360000,4014.75,4020.00,4013.53,4015.18,8462.597,3.399735e+07
77759,1759017660000,4015.18,4017.01,4012.86,4017.01,4741.294,1.903161e+07

In [5]:
df_5m.to_csv('./data/5m_data.csv', index=False)

# 转化为1个小时数据

In [3]:
df_1h = data.copy()
df_1h['t'] = (df_1h['t'] // 3600000) * 3600000
df_1h = df_1h.groupby('t').agg({
    'o': 'first',
    'h': 'max',
    'l': 'min',
    'c': 'last',
    'v': 'sum',
    'qv': 'sum'
}).reset_index()
df_1h['t'] = df_1h['t'] + 60000 + 60 * 60000

In [4]:
df_1h.to_csv('./data/1h_data.csv', index=False)

# 获取从一月一号到现在的数据

In [4]:
def get_raw_data(path):
    base_url = path['filepath']
    path1 = f"/{path['symbol']}/{path['interval']}"
    url = base_url + path1
    filelist = os.listdir(url)
    filelist.sort()
    filelist_get = [item for item in filelist if
                    path['start_date'] <= item[len(path['symbol']) + 4:len(path['symbol']) + 14] <= path[
                        'end_date']]
    df = pd.DataFrame()
    for file in tqdm(filelist_get):
        df0 = pd.read_csv(fr'{url}/{file}')
        df = pd.concat([df, df0])
    return df.copy()

In [5]:
paras1 = {
    'symbol': 'ETHUSDT',
    'start_date': '2025-01-01',
    'end_date': '2025-10-27',
    'interval': '1m',
}

In [6]:
# 1. klines data get
path_params1 = {
    'filepath': 'Z:\\um\daily\klines',
    'symbol': paras1['symbol'],
    'start_date': paras1['start_date'],
    'end_date': paras1['end_date'],
    'interval': paras1['interval'],
}
df = get_raw_data(path_params1)
df_total_data = df[['open_time', 'open', 'high', 'low', 'close', 'volume', 'quote_volume']].copy()
df_total_data.columns = ['t', 'o', 'h', 'l', 'c', 'v', 'qv']
df_total_data

100%|██████████| 300/300 [00:17<00:00, 17.19it/s]

,t,o,h,l,c,v,qv
0,1735689600000,3336.58,3337.28,3334.76,3337.25,1138.373,3.797686e+06
1,1735689660000,3337.25,3338.41,3336.48,3338.40,708.214,2.363459e+06
2,1735689720000,3338.40,3341.86,3338.05,3341.86,1947.567,6.505307e+06
3,1735689780000,3341.86,3341.87,3338.22,3339.50,671.721,2.243730e+06
4,1735689840000,3339.50,3341.56,3339.12,3339.41,532.730,1.779639e+06
...,...,...,...,...,...,...,...
1435,1761609300000,4120.49,4122.28,4120.00,4120.01,774.759,3.192860e+06
1436,1761609360000,4120.01,4120.59,4117.67,4117.67,545.407,2.246736e+06
1437,1761609420000,4117.68,4118.49,4116.84,4118.49,1161.038,4.780646e+06
1438,1761609480000,4118.49,4119.01,4118.00,4118.01,439.502,1.810131e+06
1439,1761609540000,4118.01,4119.08,4116.53,4118.47,863.103,3.554134e+06

In [7]:
df_total_data.to_csv("./data/total_data.csv", index=False)

# 转化为1小时数据

In [8]:
df_1h_total = df_total_data.copy()
df_1h_total['t'] = (df_1h_total['t'] // 3600000) * 3600000
df_1h_total = df_1h_total.groupby('t').agg({
    'o': 'first',
    'h': 'max',
    'l': 'min',
    'c': 'last',
    'v': 'sum',
    'qv': 'sum'
}).reset_index()
df_1h_total['t'] = df_1h_total['t'] + 60000 + 60 * 60000

In [9]:
df_1h_total.to_csv('./data/total_1h_data.csv', index=False)